.main {
  margin: auto 150px;
  margin-top: 30px;
  min-height: 500px;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: .3);
  border-radius: 5px;
  padding: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 20px;

  th, td {
    text-align: left;
    padding: 14px;
  }

  tr:hover {
    background-color: rgba($color: #576574, $alpha: .1);
  }

  th {
    background-color: rgba($color: #222f3e, $alpha: 1);
    color: #ddd;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
}

.search {
  float: right;
  margin-top: -10px;
  
  input[type=text] {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}

.mt-25 {
  margin-top: 25px;
}

@media screen and (max-width: 500px) {
  .table{
    border: none;
  }
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td{
    display:block;
    width:100%;
    font-size: small;
  }
  .table tr{
    margin-top: 70px;
    margin-bottom: 15px;
  }
  .table td{
    text-align: center;
    padding-left: 20%;
    position: relative;
  }
  .table td::before{
    content: attr(data-label);
    position: absolute;
    left:0;
    width:50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  .main {
    margin: 30px 15px 30px;
  }
  .search{
    margin-top: 13px;
  }

}
@media screen and (min-width: 501px) and (max-width: 900px) {
  .main {
    margin: auto 30px;
    margin-top: 30px;
    padding: 30px;
  } 
  .table, .table tbody, .table tr, .table td{
    font-size: small;
  }
 
}


